<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs">
<head>
    <title>AntiqueCZ Heating Control Web Server</title>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8”> 
    <meta http-equiv=”Cache-control” content=”no-cache”> 
    <meta http-equiv=”Pragma” content=”no-cache”> 
    <meta http-equiv=”Expires” content=”0”> 
    <link href="{{ url_for('static', filename='tcu.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
   <div class="main">
        {% block header %}
        <div id="zahlavi"><a href="{{ url_for('index')}}">Antique Heating Control Web Server</a></div>
        {% endblock %}
  
        {% block content %}
            Error Load Content ... 
        {% endblock %}

        {% block footer %}
        
            <div id="zapati">© 2019 AntiqueCZ, e-mail: AntiqueCZ@gmail.com</div>
        
        {% endblock %}
    </div>
</body>
</html>