{% extends "base.html" %}

{% block content %}

<!-- BYPASS -->
<h3>Aktivace režimu BYPASS pro {{room.room}}</h3>
&nbsp;<br>


<form method="POST" action="{{ url_for('index')}}">
    <input name="bps_temp" type="text" value="{{room.Get_BpsTemp()}}" maxlength="4" size="2">&nbsp;&nbsp;°C&nbsp;- požadovaná teplota<br>
    &nbsp;<br>

    <input name="bps_time" type="text" value="{{room.Get_BpsTime()}}" maxlength="5" size="2">&nbsp;&nbsp;hod.- čas, jak dlouho bude teplota udržována<br>
    &nbsp;<br>

    <input name="address" type="hidden" value="{{room.addr}}">

    <input name="dov_set" type="hidden" value="">

    <input type="submit" value="Spustit!">
</form>

{% endblock %}

