<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs">
<head>
    <title>AntiqueCZ Heating Control Web Server</title>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8”> 
    <meta http-equiv=”Cache-control” content=”no-cache”> 
    <meta http-equiv=”Pragma” content=”no-cache”> 
    <meta http-equiv="refresh" content="2"/>
    <meta http-equiv=”Expires” content=”0”> 
    <link rel="stylesheet" href="{{ url_for('static', filename='tcu.css') }}" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='krb.ico') }}" type="image/x-icon">
</head>
<body>
   <div class="main">
        
        <div id="zahlavi"><a href="{{ url_for('index')}}">Antique Heating Control Web Server</a></div>
  
        <h2 style="padding-top: 15px;">Aktuální hodnoty senzorů</h2>

        <table class="act" align="center" width="700px" style="text-align: center;">
            <tr>
                <th width="40%" style="text-align: left;">Místnost</th>
                <th width="15%">Teplota [°C]<br>aktuální</th>
                <th width="15%" style="padding: 8px 0px">Teplota [°C]<br>požadovaná</th>
                <th width="15%">Vlhkost [%]</th>
                <th width="15%">ByPass Time</th>
            </tr>

            {% for mistnost in dum %}
            {% if mistnost.alive %}
            <tr id="bp{{mistnost.addr}}" onclick="parent.location.href='/bypass/{{mistnost.addr}}'">
                <td style="text-align: left;">{{mistnost.room}}</td>
                <td>{{mistnost.Aktualni()}}</td>                 
                <td>{{mistnost.Pozadovana()}}</td> 
                <td>{{mistnost.Vlhkost()}}</td>                 
                <td>{{mistnost.Zbyvajici()}}</td>                 
            </tr>
            {% endif %}                      
            {% endfor %}

        </table>

        <!-- NASTAVENÍ SYSTÉMU  -->
        <h3><a href="{{ url_for('view_nast') }}">Nastavení systémových parametrů</a></h3>
        <p>
        - nastavení pojmenování místností, adresace<br>
        - nastavení defaultní teploty místností
        </p>
        
        <!-- REŽIM DOVOLENÁ  -->
        <h3>Nastavení režimu dovolená</h3>
        <form method="POST">
            {% if dov == True %}
            <input type="hidden" name="dov_set" value="OFF">
            - režim dovolená je aktivován
            <input type="submit" value="Ukončit">

            {% else %}
            <input type="hidden" name="dov_set" value="ON">
            - režim dovolená je vypnut
            <input type="submit" value="Spustit">
            {% endif %}
        </form>

        <!-- EDITACE INTERVALŮ  -->
        <h3><a href="{{ url_for('view_int') }}">Editace intervalů</a></h3>


        <!-- OVLÁDÁNÍ NAPÁJENÍ  -->
        <h3><a href="{{ url_for('napajeni') }}">Ovládání napájení terminálů (12V větev zdroje)</a></h3>


        <!-- ZÁPATÍ STRÁNKY  -->
        <div id="zapati">© 2019 AntiqueCZ, e-mail: AntiqueCZ@gmail.com</div>

    </div>
</body>
</html>


