{% extends "base.html" %}

{% block content %}

<!-- OVLÁDÁNÍ NAPÁJENÍ 12V VĚTVE -->
<h2 style="padding-top: 15px;">Ovládání 12V větve napájení</h2>

<form method="POST">
    {% if nap == True %}
    <input type="hidden" name="nap_set" value="OFF">
    - napájení 12V větve je zapnuto &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Vypnout">

    {% else %}
    <input type="hidden" name="nap_set" value="ON">
    - napájení 12V větve je vypnuto &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Zapnout">
    {% endif %}
</form>

{% endblock %}





        
