{% extends "base.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ SYSTÉMU -->
<h2 style="padding-top: 15px;">Nastavení parametrů místnosti: {{room.room}}</h2>

<form method="POST" action="{{ url_for('view_nast') }}">

<input type="hidden" name="id" value="{{room.addr}}">

<table class="sett" align="left" width="95%" style="text-align: center; padding: 50px;">
    <tr>
        <th width="50%" style="text-align: left;">Parametr</th>
        <th style="text-align: left;">hodnota</th>
    </tr>
    <tr>
        <td style="text-align: left;">
            Pojmenování místnosti:
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{room.room}}" size="20" name="pojmenovani">
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            RS485 adresace [0-9]:
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{room.addr}}" size="3" name="adresace">
        </td> 
    </tr>
    <tr>
        <td style="text-align: left;">
            Defaultní teplota [°C]
        </td> 
        <td style="text-align: left;">
            <input type="text" value="{{room.tempDef/10}}" size="3" name="teplota">
        </td> 
    </tr>
</table>

<p>
&nbsp;&nbsp;<br>
&nbsp;<br>
  <br>
</p>
<input type="submit" value="Odeslat / Uložit">


</form>

{% endblock %}

