{% extends "base.html" %}

{% block content %}
<!-- NASTAVENÍ DIP -->
<h3>Parametry nastavení na přepínači DIP:</h3>
&nbsp;<br>

<p>
DIP1÷4 ON - nastaví EEPROM na defaultní hodnoty<br>
&nbsp;<br>
DIP4 ON - aktivuje letní čas, jehož indikace není prozatím automatizována
</p>

<p>Současný stisk obou tlačítek u displeje aktivuje synchronizaci s NTP serverem, nastaveným v parametrech iChip modulku.</p>
{% endblock %}

