{% extends "base.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ SYSTÉMU VYTÁPĚNÍ -->
<h2 style="padding-top: 15px;">Nastavení parametrů systému</h2>

<table class="sett" align="center" width="700px" style="text-align: center;">
    <tr>
        <th width="5%" style="text-align: left;">ID</th>
        <th width="29%">Místnosti</th>
        <th width="12%">Od</th>
        <th width="12%">Do</th>
        <th width="20%">Kdy</th>
        <th width="17%">Teplota</th>
        <th width="5%">Teplota</th>
    </tr>
    {% for i in interval %}
    <tr onclick="parent.location.href='/interval/{{ i.id }}'">
        <td style="text-align: left;">
            {{ i.id }}
        </td>
        <td style="text-align: left;">
            {{ i.View(v='rooms',r=mistn) | safe }}
        </td>        
        <td>
            {{ i.View(v='od') }}
        </td>                 
        <td>
            {{ i.View(v='do') }}
        </td> 
        <td>
            {{ i.View(v='days') | safe }}
        </td>
        <td>
            {{ i.View('temp') }}
        </td>
        <td>
            <a href="/delint/{{ i.id }}"><img src="{{ url_for('static', filename='delete.png') }}" /></a>                   
        </td>
    </tr>
    {% endfor %}
    <tr onclick="parent.location.href='/interval/1000'">
        <td style="text-align: left;">
            new
        </td>
        <td style="text-align: left;">
        </td>        
        <td>
        </td>                 
        <td>
        </td> 
        <td>
        </td>
        <td>
        </td>
        <td>
        <img src="{{ url_for('static', filename='add.png') }}" />
        </td>                   
    </tr>
</table>

{% if fl_save==1 %}
<form method="POST">
    <input type="hidden" name="save" value="True">
    <input type="submit" value="Uložit změny">
</form>
{% endif %}

{% if fl_save==2 %}
<h3 style="color: red;">Změny uloženy!</h3>
{% endif %}

{% endblock %}

