{% extends "base.html" %}

{% block content %}

<!-- NASTAVENÍ PARAMETRŮ SYSTÉMU -->
<h2 style="padding-top: 15px;">Nastavení parametrů systému</h2>

<table class="sett" align="center" width="700px" style="text-align: center;">
    <tr>
        <th width="40%" style="text-align: left;">Pojmenování místnosti</th>
        <th width="15%">RS485 <br>adresa</th>
        <th width="15%" style="padding: 8px 0px">Defaultní <br>teplota [°C]</th>
    </tr>
    {% for mistnost in dum %}
    <tr id="sett{{mistnost.addr}}" onclick="parent.location.href='/room/{{mistnost.addr}}'">
        <td style="text-align: left;">
            {{mistnost.room}}
        </td>
        <td>
            {{mistnost.addr}}
        </td>                 
        <td>
            {{mistnost.Defaultni()}}
        </td> 
    </tr>
    {% endfor %}
</table>
{% endblock %}

